@{
    ViewBag.Title = "Index";
}
<h2>Employee List</h2>
@*<p><a href="@Url.Action("CreateEmployee","Employee")">Create Employee</a></p>*@
<table class="table">
    <thead>
        <tr>
            <th>Employee No</th>
            <th>Full Name</th>
            <th>Location</th>
            <th>Depatment</th>
            <th>Edit Action</th>
            <th>Delete Action</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: Employees">
        <tr>
            <td data-bind="text: EmployeeNo"></td>
            <td data-bind="text: FullName"></td>
            <td data-bind="text: Location.LocationName"></td>
            <td data-bind="text: Department.DepartmentName"></td>
            <td>
                <a data-bind="click: editEmployee">Edit</a>
            </td>
            <td>
                <a data-bind="click: deleteEmployee">Delete</a>
            </td>
        </tr>
    </tbody>
</table>
@section Scripts {
    @Scripts.Render("~/Scripts/ViewModel/EmployeeListVM.js")
}
